<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928339627136-m7jqrc08b948grpvta8nc2hg37ajj39m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928339627136-m7jqrc08b948grpvta8nc2hg37ajj39m</string>
	<key>API_KEY</key>
	<string>AIzaSyAF3UHLpM0v9X8BA8AOx26fJLStqlcHmZo</string>
	<key>GCM_SENDER_ID</key>
	<string>928339627136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aseem.gpEnt</string>
	<key>PROJECT_ID</key>
	<string>gpent-188e6</string>
	<key>STORAGE_BUCKET</key>
	<string>gpent-188e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928339627136:ios:d56e52dfe7d10fd6d7aa65</string>
</dict>
</plist>